[submodule "ip/panamax"]
	path = ip/panamax
	url = ../panamax.git
[submodule "ip/sky130_ajc_ip__brownout"]
	path = ip/sky130_ajc_ip__brownout
	url = ../sky130_ajc_ip__brownout.git
[submodule "ip/sky130_ak_ip__cmos_vref"]
	path = ip/sky130_ak_ip__cmos_vref
	url = ../sky130_ak_ip__cmos_vref.git
[submodule "ip/sky130_ak_ip__comparator"]
	path = ip/sky130_ak_ip__comparator
	url = ../sky130_ak_ip__comparator.git
[submodule "ip/sky130_am_ip__ldo_01v8"]
	path = ip/sky130_am_ip__ldo_01v8
	url = ../sky130_am_ip__ldo_01v8.git
[submodule "ip/sky130_be_ip__lsxo"]
	path = ip/sky130_be_ip__lsxo
	url = ../sky130_be_ip__lsxo.git
[submodule "ip/sky130_cw_ip"]
	path = ip/sky130_cw_ip
	url = ../sky130_cw_ip.git
[submodule "ip/sky130_ef_ip__analog_switches"]
	path = ip/sky130_ef_ip__analog_switches
	url = ../sky130_ef_ip__analog_switches.git
[submodule "ip/sky130_ef_ip__ccomp3v"]
	path = ip/sky130_ef_ip__ccomp3v
	url = ../sky130_ef_ip__ccomp3v.git
[submodule "ip/sky130_ef_ip__cdac3v_12bit"]
	path = ip/sky130_ef_ip__cdac3v_12bit
	url = ../sky130_ef_ip__cdac3v_12bit.git
[submodule "ip/sky130_ef_ip__rdac3v_8bit"]
	path = ip/sky130_ef_ip__rdac3v_8bit
	url = ../sky130_ef_ip__rdac3v_8bit.git
[submodule "ip/sky130_ht_ip__hsxo_cpz1"]
	path = ip/sky130_ht_ip__hsxo_cpz1
	url = ../sky130_ht_ip__hsxo_cpz1.git
[submodule "ip/sky130_icrg_ip__ulpcomp"]
	path = ip/sky130_icrg_ip__ulpcomp
	url = ../sky130_icrg_ip__ulpcomp.git
[submodule "ip/sky130_iic_ip__audiodac_lite"]
	path = ip/sky130_iic_ip__audiodac_lite
	url = ../sky130_iic_ip__audiodac_lite.git
[submodule "ip/sky130_od_ip__tempsensor"]
	path = ip/sky130_od_ip__tempsensor
	url = ../sky130_od_ip__tempsensor.git
[submodule "ip/sky130_pa_ip__instramp"]
	path = ip/sky130_pa_ip__instramp
	url = ../sky130_pa_ip__instramp.git
[submodule "ip/sky130_sw_ip__por"]
	path = ip/sky130_sw_ip__por
	url = ../sky130_sw_ip__por.git
[submodule "ip/sky130_td_ip__opamp_hp"]
	path = ip/sky130_td_ip__opamp_hp
	url = ../sky130_td_ip__opamp_hp.git
[submodule "ip/sky130_vbl_ip__overvoltage"]
	path = ip/sky130_vbl_ip__overvoltage
	url = ../sky130_vbl_ip__overvoltage.git
[submodule "ip/sky130_ef_ip__biasgen"]
	path = ip/sky130_ef_ip__biasgen
	url = ../../RTimothyEdwards/sky130_ef_ip__biasgen.git
[submodule "ip/sky130_ef_ip__rc_osc_16M"]
	path = ip/sky130_ef_ip__rc_osc_16M
	url = ../../RTimothyEdwards/sky130_ef_ip__rc_osc_16M.git
[submodule "ip/sky130_ef_ip__rc_osc_500k"]
	path = ip/sky130_ef_ip__rc_osc_500k
	url = ../../RTimothyEdwards/sky130_ef_ip__rc_osc_500k.git
[submodule "ip/sky130_ef_ip__rheostat_8bit"]
	path = ip/sky130_ef_ip__rheostat_8bit
	url = ../../RTimothyEdwards/sky130_ef_ip__rheostat_8bit.git
